<div class="index-wrapper">
  <% if @games.length == 0%>
    <div class="generate">
      <form action='/games' method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="btn btn-outline-info">Generate Draw</button>
      </form>
    </draw>
  <% end %>

  <div class="draw-container">

    <% if @games %>
      <%idx = 0%>
      <% @games.each do |game|%>
        <div class="draw-row">
          <div class="card first" style="width: 18rem;">
            <img class="card-img-top" src=<%= @games[idx].players[0].image_url %> alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= @games[idx].players[0].name %></h5>
              <%player_1 = @games[idx].players[0].id %>
            </div>
          </div>
          <% #binding.pry %>
          <div class="vs">Vs</div>
          <div class="card second" style="width: 18rem;">
            <img class="card-img-top" src=<%= @games[idx].players[1].image_url %> alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= @games[idx].players[1].name %></h5>
              <%player_2 = @games[idx].players[1].id %>
            </div>
          </div>
          <div>
            <form action="/games/<%=game.id%>" method="get">
              <input type="hidden" name="player_1" value="<%player_1%>">
              <input type="hidden" name="player_2" value="<%player_2%>">
              <button class="btn btn-outline-primary">Start Game</button>
            </form>
          </div>
        </div>
        <%idx += 1%>
      <%end %>
    <% end %>
  </div>
</div>
