<% players = Player.includes(:games).where(:games => {id: params[:id]}) %>

  <% #binding.pry%>
    <div class="show">
      <div class="players">
        <% players.each do |player| %>
          <div class="card border-success mb-3" style="min-width: 18rem;">
            <div class="card-body text-success">
              <h5 class="card-title">
                <%=player.name%>
              </h5>

              <div class="score">
                <%=player.score%>
              </div>
            </div>
            <div class="card-footer bg-transparent border-success">
              <a href="#" class="btn btn-outline-primary accept-btn">Accept</a>
              <a href="#" class="btn btn-outline-primary decline-btn">Decline</a>
              <div style="color:LightSeaGreen ">
                <i class="far fa-check-circle fa-5x accept-alert" style="display:none"></i>
              </div>
              <div style="color:LightCoral  ">
                <i class="far fa-times-circle fa-5x decline-alert" style="display:none"></i>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="claim">
        <form action="/games/<%=params[:id]%>" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="game_id" value="<%=params[:id]%>">
          <input type="hidden" name="player_1" value="<%=params[:id]%>">
          <input type="hidden" name="player_2" value="<%=params[:id]%>">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button href="#" class="btn btn-primary">Claim win</button>
        </form>
      </div>
    </div>