<main class="content"> 
  <% @players.each do |player| %>
  <a class="card player-card" href="/players/<%= player.id %>">
    <header class="content">
      <h3 class="card-title"><%= player.name %><span class="badge badge-secondary" style="float: right;"><%= player.score %> points</span></h3> 
    </header>

    <div class="card-image">
      <img class="card-img-top" src="<%= player.image_url %>" alt="">
      
    </div>

    <div class="card-body">
      <p class="card-text">Nickname: <%= player.nickname %></p>
      <p class="card-text">Games Won:</p>
    </div>

    <footer class="content">
      <p>
        <span class="star">&#9733;</span>
      </p>
    </footer>
  </a>
  <% end %>
</main>