
<div class="container">
  <div class="main-block">
    <h2 class="card-title"><%= @player.name %>  <span class="badge badge-secondary"><%= @player.score %> points</span></h2>
    <img style="height: 470px; width: 470px;" src="<%= @player.image_url %>" alt="">
    <input id="image_input" name="image_url" style="width: 80%;" type="text" value="<%= @player.image_url %>" placeholder="<%= @player.image_url %>">
  </div>

  <form action="/players" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input id='input' type="file" name="preview">
    <button>post</button>
  </form>

  <div class="side-block">
    <p style="font-size: 40px;">Ranking: <%= @player_rank %></p>
    <h4>Nickname: 
      <input id="nickname_input" name="nickname" type="text" value="<%= @player.nickname %>" placeholder="<%= @player.nickname %>">
    </h4>
    <div class="bio-block">
      <h4>BIO</h4>
      <textarea name="bio" id="bio" cols="30" rows="5"><%= @player.bio %></textarea>
    </div>
    <p>Member Since: <%= @player.created_at.to_s.slice(0,10) %></p>
    <% if @player.player_games.last %>
      <% if @player.player_games.last.win%>
        <% result = 'Won' %>
      <% else %>
        <% result = 'Lost' %>
      <% end %>
    <% end %>
    <p>Last Performance: <%= result %></p>
    <p>Games Played: <%= @player.player_games.count %></p>
    <p>Games Won:</p>
    <button id="update_btn" class="btn btn-primary" style="margin-top: 20px;">Update Profile</button>
  </div>
</div>

<!-- <div class="container">
  <div class="game-history">
    <h4>Games History</h4>
    <p><span>find all the game_id on Play_game table where player_id = play.id</span><span>if winner==player.id, display Won, else display lost</span><span>display date</span></p>
  </div>
</div> -->

<script>
$(document).ready(function () {
  $('#update_btn').click(function() {    
    var $nickname = $('#nickname_input')
    var $image = $('#image_input')
    var $bio = $('#bio')
    console.log ($nickname.val())
    console.log ($image.val())
    console.log ($bio.val())

    $.ajax({
      type: 'PUT',
      url: '/api/players',
      data: { nickname: $nickname.val(), image_url: $image.val(), bio: $bio.val() },
      success: function(res){
        console.log(res)
        $.ajax({
          type: 'GET',
          url: '/api/players/' + <%= @player.id %>,
          success: function(res){
            console.log(res)
            $('img').attr('src', res.image_url)
          }
        })
      },
      error: function() {
        alert('failed to update')
      }
    });
    

  });
});



</script>