<!DOCTYPE html>
<html>
  <head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>King Pong</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-inverse bg-inverse">
        <ul class="nav nav-pills top_nav">
          <li class="nav-item active">
            <a class="nav-link" href="/pages">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/players">Player Pool</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/games">Game Draw</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/players/<%= session[:player_id]%>">My Profile</a>
          </li>
        </ul>
        <span class="navbar-text">
          <div class="logged-in">
          <% if logged_in? %>
          <p style="float: left; margin-bottom: 10px;"><span style="font-weight: bold;">Logged in as: </span>
            <%= current_user.email %></p>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <button class="btn btn-primary" style="float: right;">Sign out</button>
            </form>
            <% else %>
            <form class="" action="/session" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <label>Email</label>
              <input type="text" name="email">

              <label>Password</label>
              <input type="password" name="password">

              <button class="btn btn-primary">Login</button>
            </form>
            <% end %>

          </span>
        </nav>
  </header>

  <body>
    <%= yield %>

  </body>

</html>
